body {
	margin: 10px;
	font: 1em/1.2 sans-serif;
	text-align: center;
  background-color: #333;
  color: #BBB;
  overflow: hidden;
}

figure {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}

figcaption {
	text-align: left;
	font-weight: bold;
}

video, canvas {
	width: 320px;
	height: 240px;
	background-color: #999;
}

canvas {
	image-rendering: pixelated;
}

form {
  margin-top: 20px;
  line-height: 1.5;
}
input[type=text] {
  width: 50%;
}
button {
  width: 10%;
}
#quit-delay {
  width: 10%;
}
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
